/* some style */

.canvas-main {
    background-color: rgba(0,0,0,0);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.canvas-temp {
    background-color: gray;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100;
}
